In [2]:
import numpy as np
import pandas as pd

In [3]:
labels = ["a", "b", "c"]
my_data = [10, 20, 30]
arr = np.array(my_data)
dic = {'a': 10, 'b': 20, 'c': 30}

In [4]:
print(labels)
print(my_data)
print(arr)
print(dic)

['a', 'b', 'c']
[10, 20, 30]
[10 20 30]
{'a': 10, 'b': 20, 'c': 30}

### Createing a Series

In [18]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [22]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [24]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [25]:
pd.Series(dic)

a    10
b    20
c    30
dtype: int64

In [26]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [29]:
pd.Series(data=[print, sum, len])[0]("Hello World")

Hello World

In [30]:
ser1 = pd.Series([1,2,3,4], ["USA", "Germany", "USSR", "Japan"])

In [31]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [32]:
ser2 = pd.Series([1,2,5,4], ["USA", "Germany", "Italy", "Japan"])

In [33]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [35]:
ser1["USA"]

1

In [36]:
ser3 = pd.Series(data=labels)

In [38]:
ser3[0]

'a'

In [40]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64